<p>
  <strong>Tasks</strong>
  <table>
      <thead>
        <th>
          Name
        </th>
        <th>
          Complete
        </th>
        <th>
          Due Date
        </th>
      </thead>
      <tbody>
          <%= render tasks %>
      </tbody>
  </table>
</p>