<p>
  <strong>Task Schedules</strong>
  <table>
      <thead>
        <th>
          Name
        </th>
        <th>
          Due Date
        </th>
      </thead>
      <tbody>
          <%= render user.task_schedules %>
      </tbody>
  </table>
</p>